{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
	<div class="text-center">
		<form class="form-signin" method="post">
		  <h1 class="h3 mb-3 font-weight-normal">Зарегестрироваться</h1>
		  
		  <label for="inputEmail" class="sr-only">Email</label>
		  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
		  
		  <label for="inputPassword" class="sr-only">Пароль</label>
		  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
		  
		  <div class="checkbox mb-3">
			<label>
			  <input type="checkbox" value="remember-me"> Принимаю условия пользовательского соглашения
			</label>
		  </div>
		  
		  <button class="btn btn-lg btn-success btn-block" type="submit">Зарегестрироваться</button>
		</form>
		
	</div>
{% endblock %}
