{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{#{% block title %}New Ingredient{% endblock %}#}


{% block body %}
<main role="main">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 ">
				<h1>Добавление нового ингредиента</h1>
				{{ include('ingredient/_form.html.twig') }}
				<a class="btn btn-outline-dark" href="{{ path('ingredient_index') }}" role="button">Вернуться к списку</a>
			</div>
		</div>
	</div>
</main>	
{% endblock %}
