{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<main role="main">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">
				<div class="row">
					<div class="col">
						<h1>Категория</h1>
					</div>
					{{ include('category/_delete_form.html.twig') }}
				</div>
				<table class="table">
					<tbody>
						<tr>
							<th>Название категории</th>
							<td>{{ category.nameCategory }}</td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-outline-dark my-2" href="{{ path('category_index') }}" role="button">Вернуться к списку</a>
				<a class="btn btn-success my-2 float-right" href="{{ path('category_edit', {'id': category.id}) }}" role="button">Редактировать</a>
			</div>
		</div>
	</div>
</main>	
{% endblock %}
